@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model List<Restaurant.Web.Models.Entities.Product>

<div class="table-wrapper">

    <table id="TableDidplay" class="table display">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Availability</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr scope="row">
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Price</td>
                    @if (@product.Availability)
                    {
                        <td>Available</td>
                    }
                    else
                    {
                        <td>Not Available</td>
                    }

                    <td><a class="btn btn-primary" asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id">Edit</a></td>
                </tr>
            }
        </tbody>

    </table>

    <a class=" my-3 btn btn-primary" asp-controller="Products" asp-action="New">Add Product</a>

</div>

<script>
    $(document).ready(function () {

        var ctable = new DataTable('#TableDidplay',{
                        paging:true,
                        pageLength:3,
                        lengthMenu: [[3,5, 10, -1], [3,5, 10, "All"]],
                        lengthChange: true,
                        initComplete:(settings,json)=>{
                            console.log('Init Table Completed !')
                        }

        })
    });
</script>

